{% extends 'main/layout.html' %}
{% load static %}

{% block title %}

    Мои курсы
    
{% endblock %}

{% block content %}
    {% for module in modules|slice:"0:1" %}
        <h2>Курс: {{ module.parent }}</h2>
        
    {% endfor %}

    {% for module in modules %}
    <ul style="list-style:none; ">
        <li >
            <div class="outline" 
            style="
            border: 1.5px solid #808080;
            border-radius: 10px;">
            <h4>
                <a href="{{ module.get_absolute_url }}" 
                    style="
                    text-decoration:none; 
                    color: black;">
                Модуль №{{ module.order_course }}. {{ module.module_name }}.
                </a>
            <a href="{{ module.get_absolute_url }}">
                     <img src="{% static 'main/img/Vector.svg' %}" style=" align-self: end;">
            </a>
            </h4>
            </div>
        </li>

    </ul>
        
    {% endfor %}

{% endblock %}