{% extends 'main/layout.html' %}

{% load static %}
{% load courses_tags %}

{% block title %}

    Курс
    
{% endblock %}

{% block content %}
    {% for l in lections|slice:"0:1" %}
    <h4>
        <a href="{{ l.parent.parent.get_absolute_url }}">  
            <img src="{% static 'main/img/v.svg' %}" style="width: 20px;"> 
            {{ l.parent.parent }}
        </a>
    </h4>

    <h3>Модуль № {{ l.parent.order_course }}. {{ l.parent }}</h3>    
    {% endfor %}

    {% for l in lections %}
        <ul style="list-style-type: none;">
            <li><a href="{{ l.get_absolute_url }}">  {{ l.topic }}</a></li>
        </ul>
    {% endfor %}

    
        
{% endblock %}
