{% extends 'main/layout.html' %}
{% load static %}


{% block title %}
    Меню
{% endblock %}

{% block content %}
<nav class="product-menu">
    <ul>
        <li class="block block-1">
            <a href="https://simplecoffee.ru/summer-drinks/">
                <div>Новинки</div>
            </a>
        </li>
        <li class="block block-2">
            <a href="https://simplecoffee.ru/menu/breakfasts/">
                <div>Завтраки до 12:00</div>
            </a>
        </li>
        <li class="block block-3">
            <a href="https://simplecoffee.ru/menu/kitchen/">
                <div>Наша кухня</div>
            </a>
        </li>
        <li class="block block-4">
            <a href="https://simplecoffee.ru/menu/drinks/">
                <div>Кофе и напитки</div>
            </a>
        </li>
        <li class="block block-5">
            <a href="https://simplecoffee.ru/menu/desserts/">
                <div>Десерты</div>
            </a>
        </li>
        <li class="block block-6">
            <a href="https://simplecoffee.ru/menu/bakery/">
                <div>Выпечка</div>
            </a>
        </li>
    </ul>
</nav>
<!--{% for product in products %}
<div>
    <h1>{{ product.food_name }}</a></h1>
    <p> <img src="{{ product.image }}"></p>
    <p>price: {{ product.price }}</p>
    <br>
    <p>Белки: {{ product.squirrels }}</p>
    <p>Жиры: {{ product.fats }}</p>
    <p>Каброгидраты: {{ product.carbohydrates }}</p>
</div>
{% endfor %}
-->
{% endblock %}