{% load static %}

{% for l in lections|slice:"0:1" %}
    <h3>
        <a href="{{ l.parent.parent.get_absolute_url }}">  
            <img src="{% static 'main/img/v.svg' %}" style="width: 20px;"> 
            {{ l.parent.parent }}
        </a>
    </h3>

    <h2>Модуль № {{ l.parent.order_course }}. {{ l.parent }}</h2>    
    {% endfor %}

    {% for l in lections %}
        <ul style="list-style-type: none;">
            <li><a href="{{ l.get_absolute_url }}">  {{ l.topic }}</a></li>
        </ul>
{% endfor %}