{% extends 'main/layout.html' %}

{% block title %}

    Мои курсы
    
{% endblock %}

{% block content %}

{% for module in modules %}
    <h3>{{ module.module_name }}</h3>
    <ul>
        <li>Модель родитель {{ module.parent }}</li>
    </ul>
   
{% endfor %}

{% for module in courses %}
    <h3>{{ module.title }}</h3>

   
{% endfor %}

{% for key, value in dictionary.items %}
  {{ key }} = {{ value }}<br/>

{% endfor %}
<hr>
{% for key, value in dictionary2.items %}
  {{ key }} = {{ value }}<br/>

{% endfor %}
{% endblock %}