{% extends 'main/layout.html' %}


{% block title %}
    Simple Coffee
{% endblock %}

{% block content %}
<h2>Мои курсы</h2>
<ul>
    <li>Бариста <a href="{% url 'bar' %}">Продолжить</a></li>
    <li>Менеджер <a href="#">Продолжить</a></li>
</ul>
<h2>Новости кофейни</h2>

{% for post in posts %}
<h3>{{ post.topic }}</a></h3>
<div>
    <ul style="list-style-type: none;">
        <li><img src="{{ post.photo.url }}" width="140px" height="110px" style="border-radius: 4px;"></li>
        <li>
            <p style="font-size: 14px;
            line-height: 17px;">
            {{ post.news_text }}
            </p>
        </li>
        <br>
        <li><i>{{ post.created_date }}</i></li>
        <hr>
    </ul>
</div>

{% endfor %}
{% endblock %}


