{% extends 'main/layout.html' %}

{% block title %}
    Simple Coffee
{% endblock %}

{% block content %}
    <h2>Мои курсы</h2>

    {% for c in courses %}
        <h3>{{c.title}}</h3>
        <a href="{{ c.get_absolute_url }}">Открыть курс</a>
    {% endfor %}

    <h2>Новости кофейни</h2>

    {% for post in posts %}
        <h3>{{ post.topic }}</a></h3>
        <div class="news">
            <ul>
                <li><img src="{{ post.photo.url }}" ></li>
                <li>
                    <p>
                    {{ post.news_text }}
                    </p>
                </li>
                <br>
                <li><i>{{ post.created_date }}</i></li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}
