{% extends 'main/layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<h2>Мои курсы</h2>
<ul>
    <li>Бариста <a href="#">Продолжить</a></li>
    <li>Менеджер <a href="#">Продолжить</a></li>
</ul>
<h2>Новости кофейни</h2>
<ul>
{% for post in posts %}
<li>
    <h3>{{ post.topic }}</a></h3>
    
    <p> <img src="{{ post.photo }}" width = 140px
        height = 110px></p>
    
    <p>{{ post.news_text }}</p>
    <br>
    <p>с {{ post.created_date }} включительно</p>
</li>
{% endfor %}
</ul>
{% endblock %}