{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home'%}"><img src="{% static 'main/img/logo.svg'%}"></a>
        </div>
        <div class="search"> 
            Поиск
        </div>

        <ul class="navigation">
            <a href="{% url 'menu' %}"><li>Меню</li></a>
            <a href="{% url 'library' %}"><li>Библиотека знаний</li></a>
            <a href="{% url 'personalaccount' %}"><li>Иван Петров <img src="{% static 'main/img/ellipse1.svg'%}"></li></a>
        </ul>
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>

    <footer>
        <ul class="footer1">
            <li><b>НАПИШИТЕ НАМ</b></li>
            <li><b>НАВИГАЦИЯ</b></li>
            <li><b>ИНФОРМАЦИЯ</b></li>
        </ul>   
    </footer>
    <!-- <script src="{% static 'main/js/footer.js' %}"></script> -->
     
</body>
</html>