{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/product-menu.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/account.css'%}">
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
  <div class="wrapper">
    <header class="main-header">
        <div class="container">
            <div class="logo">
              <a href="{% url 'index' %}"><img src="{% static 'main/img/logo.svg'%}"></a>
            </div>
            <nav class="main-menu">
              <ul>
                <li>
                    <form>
                        <input type="search" class="search" placeholder="Поиск">
                    </form>
                </li>
                <li><a href="{% url 'menu' %}"><b>Меню</b></a></li>
                <li><a href="{% url 'library' %}"><b>Библиотека знаний</b></a></li>
                <li><a href="{% url 'account' %}"><b>Личный кабинет</b></a></li>
              </ul>
            </nav>
          </div>
      </header>

      <div class="content">
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      </div>


      <footer class="main-footer">
        <div class="container">
          <div class="footer-top">
            <div class="footer-address">
              <h3 class="lamba"><strong>НАПИШИТЕ НАМ</strong></h3>
              <p class="promo">
                Мы любим получать письма! Напишите нам ваши предложения или пожелания по адресам:
              </p>
              <p class="address">Сотрудничество: <a href="#">partnership@simplecoffee.ru</a></p>
              <p class="address">Пожаловаться: <a href="#">hurt@simplecoffee.ru              </a></p>
              <p class="address">Похвалить: <a href="#">compliment@simplecoffee.ru</a></p>
              
            </div>
            <div class="footer-menu">
              <h3><strong>НАВИГАЦИЯ</strong></h3>
              <ul>
                <li><a href="{% url 'menu' %}">Меню</a></li>
                <li><a href="{% url 'library' %}">Библиотека знаний</a></li>
                <li><a href="{% url 'account' %}">Личный кабинет</a></li>
              </ul>
            </div>
            <div class="footer-menu">
              <h3><strong>ИНФОРМАЦИЯ</strong></h3>
              <ul>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Перейти на сайт</a></li>
              </ul>
            </div>
            <div class="logo-footer">
              <img src="{% static 'main/img/logofooter.svg'%}">
            </div>
          </div>
          <div class="str">
            <div class="footer-bottom">
              <ul class="soc">
                <li><a href="#"><img src="{% static 'main/img/Instagram_white.svg'%}" alt="" width="24px" height="24px"></a></li>
                <li><a href="#"><img src="{% static 'main/img/VK_white.svg'%}" alt="" width="24px" height="24px"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
</body>
</html>