{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style.css'%}">
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <div class="logo">
              <img src="{% static 'main/img/logo.svg'%}">
            </div>
            <nav class="main-menu">
              <ul>
                <li>
                    <form>
                        <input type="search" class="search" placeholder="Поиск">
                    </form>
                </li>
                <li><a href="{% url 'menu' %}">Меню</a></li>
                <li><a href="{% url 'library' %}">Библиотека знаний</a></li>
                <li><a href="{% url 'personalaccount' %}">ЛК</a></li>
              </ul>
            </nav>
          </div>
      </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>

    <footer>
        <ul class="footer1">
            <li><b>НАПИШИТЕ НАМ</b></li>
            <li><b>НАВИГАЦИЯ</b></li>
            <li><b>ИНФОРМАЦИЯ</b></li>
        </ul>   
    </footer>
    <!-- <script src="{% static 'main/js/footer.js' %}"></script> -->
     
</body>
</html>