{% extends 'main/layout.html' %}
{% load static%}

{% block title %}
    Личный кабинет
{% endblock %}

{% block content %}
<div class="content">
        
    <div class="menu">
      <h1>Личный кабинет</h1>
      <a href="#" class="menu-link">Мои курсы
        <svg class="strelka-right-2" viewBox="0 0 9 14">
          <path  d="M6.660,8.922 L6.660,8.922 L2.350,13.408 L0.503,11.486 L4.813,7.000 L0.503,2.515 L2.350,0.592 L8.507,7.000 L6.660,8.922 Z" ></path>
      </svg>
      </a>
      <a href="#" class="menu-link">График работы
        <svg class="strelka-right-2" viewBox="0 0 9 14">
          <path  d="M6.660,8.922 L6.660,8.922 L2.350,13.408 L0.503,11.486 L4.813,7.000 L0.503,2.515 L2.350,0.592 L8.507,7.000 L6.660,8.922 Z" ></path>
      </svg>
      </a>
      <a href="#" class="menu-link">Зарплата
        <svg class="strelka-right-2" viewBox="0 0 9 14">
          <path  d="M6.660,8.922 L6.660,8.922 L2.350,13.408 L0.503,11.486 L4.813,7.000 L0.503,2.515 L2.350,0.592 L8.507,7.000 L6.660,8.922 Z" ></path>
      </svg>
      </a>
      <a href="#" class="menu-link">Сменить пароль
        <svg class="strelka-right-2" viewBox="0 0 9 14">
          <path  d="M6.660,8.922 L6.660,8.922 L2.350,13.408 L0.503,11.486 L4.813,7.000 L0.503,2.515 L2.350,0.592 L8.507,7.000 L6.660,8.922 Z" ></path>
      </svg>
      </a>
      <a href="{% url 'logout' %}" class="menu-link">Выйти
        <svg class="strelka-right-2" viewBox="0 0 9 14">
          <path  d="M6.660,8.922 L6.660,8.922 L2.350,13.408 L0.503,11.486 L4.813,7.000 L0.503,2.515 L2.350,0.592 L8.507,7.000 L6.660,8.922 Z" ></path>
      </svg>
      </a>
    </div> 

    <div class="personal">
    {% for info in information %}
        <form action="" method="post" enctype="multipart/form-data">
        <div class="avatar">
          {% if info.avatar %}
        <img src="{{ info.avatar.url }}" alt="Аватарка">
        {% endif %}
        <input type="file" name="avatar" value="">
        </div>
        <label for="fio">ФИО</label>
        <br>
        <input type="text" placeholder="{{ info.user }}" name="" id="fio" value="">
        <br>

        <label for="position">Должность</label>
        <br>
        <input type="text" placeholder="{{ info.role }}" name="" id="position" value="">
        <br>

        <label for="phone">Телефон</label>
        <br>
        <input type="text" placeholder="{{ info.number}}" name="" id="phone" value="">
        <br>

        <label for="mail">E-mail</label>
        <br>
        <input type="text" placeholder="Enter Email" name="" id="mail" value="">
        <br>


        <input type="submit" value="Сохранить">
    
    </form>
    {% endfor %}
    </div>
        
</div>
{% endblock %}