<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <main>
    <div align="center">
      <header><h3>REGISTRATION</h3></header>
      <form method="post" action="{% url 'registration' %}">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="SIGN UP">
        </form>
        {% if invalid%}
       <p></p>
       {% endif %}
    </div>
    <br>
    <div align="center">Or you can <a href="/login">sign in</a></div>
  </main>
</body>
</html>
<!-- 

    {% block title %}
    Регистрация
    {% endblock %}

    {% block content %}
    <form action="" method="post">
      {% csrf_token %}
       as_p для того, чтобы каждый элемент формы был с новой строки 
      {{ form.as_p }}
      <button type="submit">
        Регистрация
        </button>
    </form>
    {% endblock %}
  -->