.personal{
    width: 365px;
  }
  .personal label{
    margin-left: 10px;
  }
  .personal-reg label, h1{
    margin-left: 10px;
  }

  input[type=text],
  input[type=password]{
    width: 365px;
    height: 25px;
    margin: 0;
    padding: 0px 10px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 18px;
    border-radius: 15px;
    outline: none;
    border: 2px gray solid;
  }
  
  input[type=submit]{
    display: block;
    background: #FF9656;
    border-radius: 50px;
    height: 41px;
    width: 170px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: none;
    margin-top: 16px;
  }
  
  .reg-li{
    color: #000000;
  }
  .personal-reg{
    display: block;
    width: 365px;
    margin-left: auto;
    margin-right: auto;
  }
  .personal-reg input[type=submit]{
    width: 389px;
    text-align: center;
  }
  
  .personal-reg a{
    margin-top: 16px;
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #808080;
    text-align: center;
  }