.news ul{
    list-style: none;
    outline:none;
    color:#FF9656;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin-left: 50px;
  }

  .news li {
    margin: 20px;
    opacity: 0.8;
    border-radius: 4px;
    width:140px;
    height:110px;
  }

  .news li p {
    font-size: 14px;
    line-height: 17px;
  }