.news ul{
    list-style: none;
    outline:none;
  }

  .news li img {
    margin: 20px;
    border-radius: 4px;
    width:140px;
    height:110px;
  }

  .news li p {
    font-size: 14px;
    line-height: 17px;
  }