@font-face {
  font-family: "Montserrat"; 
  src: url('../font/Montserrat/Montserrat-Regular.ttf'); 
  } 
@font-face {
  font-family: "Montserrat-Bold"; 
  src: url('../font/Montserrat/Montserrat-Bold.ttf'); 
  } 

html, body {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: "Montserrat"; 
    color: #000000;
    height: 100%;
  }

  .wrapper {
    position: relative;
    min-height: 100%;
  }

  .container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .content {
    padding-bottom: 290px;
  }

  .main-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 280px;
  }

  .main-header {
    padding-top: 35px;
  }
  
  .logo {
    float: left;
  }
  
  .main-menu {
    float: right;
  }
  
  .main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .main-menu li {
    display: inline-block;
    margin-right: 30px;
  }

  .main-menu li:last-child {
    color:#FF9656;
    margin-right: 0px;
  }

  .main-menu li:last-child a {
    color:#FF9656;
  }
  
  .main-menu a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .search{
    width: 367px;
    height: 28px;
    border: 0.7px solid #808080;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    padding: 0 35px;
    outline:none;
    font-family: "Montserrat";
    font-size: 12px;
    line-height: 15px;
  }

  .search::placeholder{
    color: #808080;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    font-family: "Montserrat";
    font-size: 12px;
    line-height: 15px;
  }





  .footer-top::after,
  .main-header::after {
    display: table;
    clear: both;
    content: "";
  }
  
  .footer-address {
    float: left;
    width: 360px;
    margin-right: 125px;
  }

  .footer-top{
    margin-bottom: 20px;
  }
  
  .footer-menu {
    float: left;
    width: 145px;
    margin-top: 25px;
    margin-right: 145px;
  }
  
  .footer-menu h3 {
    margin: 0;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }
  
  .footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-menu li {
    margin-bottom: 25px;
  }
  
  .footer-menu a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
  }

  .lamba{
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }

  .address{
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
  }

  .address a{
    color: black;
    padding: 0;
    margin: 0;
  }

  .promo{
    padding: 0px;
    margin: 0;
    padding-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
    padding-bottom: 0;
  }

  .logo-footer{
    float: right;
  }

  .str{
    width: 1140px;
    height: 0px;
    border-top: 1.5px solid #000000;
    background: #E5E5E5;
  }

  .soc{
    padding: 0;
    padding-top: 10px;
    margin: 0;
    list-style: none;
    
  }
  
  .soc li{
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 15px;
  }